body {
    font-family: Arial, sans-serif;
    background-color: rgb(38, 38, 38);
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(0, 123, 255);
    font-size: 24px;
    padding: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
}

p {
    font-size: 16px;
    text-align: center;
    color: rgb(43, 145, 255);
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}
