body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: #333;
    margin: 0;
    padding: 0;
}

.update-log-box {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
    color: #2b91ff;
}

h1 {
    color: #006aff;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

p {
    font-size: 16px;
    text-align: center;
    color: #5cabff;
}

.separator {
    color: rgb(0, 123, 255);
    font-weight: bold;
    text-align: center;
}

.credits {
    color: rgb(150, 150, 150);
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}
